<html>
<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/custom.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

</head>
<body>
<% include templates/header_auth.ejs %>
<div class="container-fluid" align="center">
    <div class="table-responsive" style="max-width: 960px">
        <table class="table table-striped">
            <tr class="active"><th>Rank</th><th>Username</th><th>Points</th></tr>
            <%users.forEach(function(item,index) {%>
            <tr><td><%=index+1%></td><td><%=item.username%></td><td><%=item.points%></td></tr>
            <%})%>
        </table>
    </div>
</div>
</body>
</html>