<!DOCTYPE html>
<html>
<head>
    <title><%=projectname %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/custom.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<% include templates/header_auth.ejs %>
<div class="container-fluid pos">
    <% if (reg_error.length>0) { %>
    <div class="alert alert-danger"><%= reg_error %></div>
    <% } %>
    <form method="post" action="/register">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="first" name="first" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="last" name="last" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="confirm" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>
